@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

/* RESET */

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers*/

/*
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */




* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}
body {
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    background-color: #400512ff;

    border: 3px dashed green;
}

li, a, button, h1 {
    font-family: 'Allerta Stencil', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 100%;
    padding: 30px 10%;
    background-color: #400512ff;
    border: 2px dashed pink;
}
.logo {
    height: 200px;
    width: 300px;
    cursor: pointer;
    
}

nav {
    display: flex;
    width: 800px;
    
    border: 3px dashed yellow; 
}
.nav_links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: inherit;

    border: 1px solid turquoise;
}
.nav_links li {
    display: inline-block;

}
.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
    color: #ffb612;
}
button {
    padding: 9px 25px;
    background-color: rgba(255, 184, 18, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: white;
    color: #400512ff;
}





main {
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    background-color: #ffb612;
    border: 5px solid purple;
}
main video {
    height: 90%;
    max-height: 70vh;
    width: 90%;
    margin: 0 auto;
}
.container_welcome h1 {
    font-size: 32px;
    color: #400512ff;

}

.table-striped {
    
}
.season_tickets {
    border: 3px dashed white;
    width: 80%;
    height: 1000px;
    margin: 32px auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
}
.form {

}
.season_tickets_footer {

}


footer {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    font-family: sans-serif;
    color:#ffb612;
    background-color: #400512ff;
}


@media only screen 
   and (min-device-width: 320px)
   and (max-device-width: 700px) {

    header {
        flex-direction: column;
    }
    .logo {
        height: 30%;
        width: 30%;
    }
    .nav_links {
        flex-direction: column;
    }

   }


