@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

/* RESET */

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers*/

/*
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

body {
    height: 150vh;
    width: 100%;
    margin: 0 auto;
    background-color: #400512ff;

    border: 3px dashed green;   
}
li, a, button, h1 {
    font-family: 'Allerta Stencil', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: white;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 100%;
    padding: 30px 10%;
    background-color: #400512ff;
    border: 2px dashed pink;
}
.logo {
    height: 200px;
    width: 300px;
    cursor: pointer;
    
}

nav {
    display: flex;
    width: 800px;
    
    border: 3px dashed yellow; 
}
.nav_links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: inherit;

    border: 1px solid turquoise;
}
.nav_links li {
    display: inline-block;

}
.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
    color: #ffb612;
}
button {
    padding: 9px 25px;
    background-color: rgba(255, 184, 18, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: white;
    color: #400512ff;

}





main {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    
    display: flex;
    justify-content: center;
    background-color: #ffb612;
    border: 5px solid purple;

}
.side_img {
    height: 70%;
    width: 40%;
}
.side_img img {
    height: 70%;
    width: 100%;
    max-width: 100%;
}


.cta_section {
    height: 100vh;
    width: 60%;
    /* padding: 50px; */
    border: 5px dashed white;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around ;
}
.cta_text {
    height: 40%;
    width: 100%;
    padding: 10px;


    border: 5px solid green;
    
}
.cta_text h1,p {
    font-family: 'Allerta Stencil', sans-serif;
    color: #400512ff;
}
.cta_text h1 {
    font-size: 48px;
    font-weight: 500;
    margin: 20px;
    border: 2px solid green;

}
.cta_text p {
    font-size: 32px;
    line-height: 2;
    text-align:;
    line-height: 1.5;
}

.form_container {
    height: 50%;
    border: 2px solid black;
}
.cta_form {
    height: 60%;
    width: 100%;
    border: 5px dashed aqua;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 32px;
}

.cta_form input, select, textarea, label {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 30px;
    margin: 10px;
}
.form_name {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    border: 2px dashed greenyellow;
    line-height: normal;
}
 .submit_button {
    width: 200px;
    padding: 9px 25px;
    background-color: #400512ff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s; 
} 



@media (width < 600px){
    header,
    .nav_links,
    main,
    .form_name {
        flex-direction: column;
    }
}

